@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }

    h1{
        font-family: 'SEGA LOGO FONT';
        font-size: 100px;
        background-image: linear-gradient(to right, #405c88, #0087b7, #00b1b6, #00d480, #a8eb12);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        margin-top: 100px;
    }